/* -------------------------------------------------------------- */
/* *************************** RESET *************************** */
/* -------------------------------------------------------------- */

body {
  margin: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.container {
  max-width: 1200px; }

ul, li {
  list-style: none;
  display: block;
  padding: 0; }

a, button {
  text-decoration: none;
  cursor: pointer; }

a:hover {
  text-decoration: none; }

img, h1 {
  display: block; }


/* -------------------------------------------------------------- */
/* *************************** HEADER *************************** */
/* -------------------------------------------------------------- */
#searchbar{position:relative; width:1040px; height:auto;}
.formulaire               {display:inline-block;}
.formulaire .champ       {width:600px; height:35px;}
.formulaire .bouton       { background-image: url(images/loupe.png);background-repeat: no-repeat;width: 35px;height: 35px;padding: 0; }




/* -------------------------------------------------------------- */
/* ***************************** NAV **************************** */
/* -------------------------------------------------------------- */





  /* -------------------------------------------------------------- */
  /* ************************** HOME PAGE ************************* */
  /* -------------------------------------------------------------- */



  /* -------------------------------------------------------------- */
  /* **************************** PAGE **************************** */
  /* -------------------------------------------------------------- */




  /* -------------------------------------------------------------- */
  /* *************************** FOOTER *************************** */
  /* -------------------------------------------------------------- */
