// layout
$max-width:  1200px;
$bp-tablet:  768px;
$bp-desktop: 992px;
$marge:      15px;

// Typos
$font-default:   'Lato', sans-serif;
$font-title:     'lato', $font-default;
$font-size-base: 87.5%; // base 14

// Colors
$brown:      #765853;
$yellow:     #F9B13C;
$antiquewhite: #EBE4D2;
$blue:  #37B7E7;
$marine: #01AC9F;

$link-color: $blue;
